In [ ]:
print("hello world")

hello world

In [ ]:
a="A.HASNAS"
print(a)

A.HASNAS

In [ ]:
haseeb= 176
print(haseeb)
numf= 3.89
print(numf)

176
3.89

In [ ]:
print(2+haseeb)

178

In [ ]:
num1=12
num2= 3.9

In [ ]:
num1+num2

15.9

In [ ]:
print(num1-num2)
print(num1/num2) # forward slash for division
print(num1*num2)
print(num1//num2) #converting float into integer

8.1
3.076923076923077
46.8
3.0

In [ ]:
print(10%3)# % for remainder

1

In [ ]:
num1=45
num1=35 #overwrite the previous value
print(num1)

35

In [ ]:
num1= num1 + 20 # first method of changing variable assigned before
print(num1)

55

In [ ]:
num1 += 1 #second method
num1= num1 + 1
num1

57

In [ ]:
num1 += 2 # second method
print(num1)

59

In [ ]:
d= (2*4) * 4 +2 #BODMAS rule in python but perform left to right operation
print(d)

34

In [ ]:
first_name= "Abdul Haseeb" # adding 2 str is called concatination
Last_name= " Nasar"
print(first_name + Last_name)

Abdul Haseeb Nasar

In [ ]:
2*first_name

'Abdul HaseebAbdul Haseeb'

In [ ]:
print(first_name + "" + Last_name)

Abdul Haseeb Nasar

In [ ]:
g= first_name + 2  # only str to str concatinate possible
print(g)

TypeError: ignored

In [ ]:
print (first_name + "3") # 3 ko str banaya hai magr database mn woh integer hi hai

Abdul Haseeb3

In [ ]:
num3= 50
print("score is: " + str(num3)) # + ke saath concatinate karna ke lia dono str hona chahiya

score is: 50

In [ ]:
type(num3)

int

In [ ]:
print("score is: ", num3) # , se concatinate karta waqt sirf variable likh deta hain woh khud string ke saath int likh deta

score is:  50

In [ ]:
type(num3)

int

In [ ]:
num4= "10"
type(num4)

str

In [ ]:
num4=int(num4)

In [ ]:
type(num4)

int

In [ ]:
#if condition:
           #statement(syntex)

In [ ]:
if 2+2 == 4: # == compare RHS = LHS
  print("ok")

ok

In [ ]:
if 2+2 == 5:
  print("true")
else:
  print("false")

false

In [ ]:
name= "Haseeb"

if name == "Haseeb":
  print("ok")
else:
  print("not ok")

ok

In [ ]:
name= "Haseeb"

if name == "rafey":# for eqaul to
  print("ok")
else:
  print("not ok")

not ok

In [ ]:
name= "Haseeb"

if name != "Haseeb":
  print("ok")
else:
  print("not ok")

not ok

In [ ]:
name= "Haseeb"

if name != "rafey": # for not equal to
  print("ok")
else:
  print("not ok")

ok

In [ ]:
number= 20

if number > 20:
  print("ok")
else:
  print("not ok")

not ok

In [ ]:
number= 20

if number > 10:
  print("ok")
else:
  print("not ok")

ok

In [ ]:
number= 20

if number < 10:
  print("ok")
else:
  print("not ok")

not ok

In [ ]:
number= 20

if number >= 20:
  print("ok")
else:
  print("not ok")

ok

In [ ]:
number= 20

if number <= 20:
  print("ok")
else:
  print("not ok")

ok

In [ ]:
number= 20

if number >= 50:
  print("ok")
else:
  print("not ok")

not ok

In [ ]:
number= 20

if number <= 50:
  print("ok")
else:
  print("not ok")

ok

In [ ]:
number=40  # if statement will check all if whether it get true in first
if number > 40:
  print("greater")
if number < 40:
  print("smaller")
if number == 40:
  print("equals")

equals

In [ ]:
number=40# elif will stop where it will prove time kam
if number > 46:
  print("greater")
elif number < 46:
  print("smaller")
elif number == 46:
  print("equals")

smaller

In [ ]:
number = 200

if number%7 == 0:
  print("true")
else:
  print("false")

false

In [ ]:
number= 298
if number%2 == 0:
  print("even")
else:
  print("odd")

even

In [ ]:
number= int(input()) #check whether the number is even or odd

if number%2 == 0:
  print("even")
else:
  print("odd")

45
odd

In [ ]:
number= int(input()) #check whether the number is divible by 7 or not
if number%7 == 0:
  print("true")
else:
  print("false")

49
true

In [ ]:
number= int(input()) # Display hello when input is 5, diplay 7 when input is 7 otherwise error
if number == 5:
  print("HELLO")
elif number==7:
  print("WORLD")
else:
  print("ERROR")

45
ERROR

In [ ]:
w=2**2
o=3**2
print("square of 2 is:" , w)
print("square of 3 is:" , o)

square of 2 is: 4
square of 3 is: 9

In [ ]:
# (and) if condition statement if if are both true 1 and 1,     or is complete opposite
1 and 1

1

In [ ]:
0 and 1

0

In [ ]:
1 or 0

1

In [ ]:
0 or 0

0

In [ ]:
1 or 1

1

In [ ]:
name= "haseeb"
country= "pakistan"
if name=="haseeb" and country=="pakistan":
  print("ok")
else:
  print("not ok")

ok

In [ ]:
name= "haseeb"
country= "pakistan"
if name=="nasar" and country=="pakistan":
  print("ok")
else:
  print("not ok")

not ok

In [ ]:
name= "haseeb"
country= "pakistan"
if name=="nasar" or country=="pakistan":
  print("ok")
else:
  print("not ok")

ok

In [ ]:
name= "haseeb"
country= "pakistan"
if name=="haseeb" or country=="pakistan":
  print("ok")
else:
  print("not ok")

ok

In [ ]:
name= "haseeb"
country= "pakistan"
if name=="haseeb":
  if  country=="pakistan":
    print("both OK")
  else:
    print("one match")
else:
  print("not ok")

both OK

In [ ]:
name= "haseeb"
country= "pakistan"
if name=="ali":
  if  country=="pakistan":
    print("both OK")
  else:
    print("one match")
else:
  print("not ok")

not ok

In [ ]:
name= "haseeb"
country= "pakistan"
if name=="haseeb":
  if  country=="canada":
    print("both OK")
  else:
    print("one match")
else:
  print("not ok")

one match

In [ ]:
number= 123
number[-1: -4: 1]

TypeError: ignored

In [ ]:
#topic list
#[start value: end value(1 kam deta"):step]
cities=['karachi','lahore','quetta','pindi']
print(cities)

['karachi', 'lahore', 'quetta', 'pindi']

In [ ]:
cities[0:3:1]

['karachi', 'lahore', 'quetta']

In [ ]:
cities[1:4:1]

['lahore', 'quetta', 'pindi']

In [ ]:
cities[-1:-3:1]

[]

In [ ]:
cities[-1:-3:-1]

['pindi', 'quetta']

In [ ]:
cities[ : :]# by default 1 step start from 0 and end at last

['karachi', 'lahore', 'quetta', 'pindi']

In [ ]:
cities[1:4:2]

['lahore', 'pindi']

In [ ]:
department="mechanical"
#for passing []
#only str is passable but not int
department[0:4]

'mech'

In [ ]:
num= 123456789
num[0:4]

TypeError: ignored

In [ ]:
num= 123456789
str(num)[0:4]

'1234'

In [ ]:
#again converting in int
type(num)

int

In [ ]:
num2=int(str(num)[0:2])
print(num2)

12

In [ ]:
type(num2)

int

In [ ]:
num3=1234567
str(num3)[-1:-8:-1]
num4=1234567
str(num4)[7::-1]

'7654321'

In [ ]:
#append is to add anything in list variable at last
name=['haseeb','rafey','haris']
name

['haseeb', 'rafey', 'haris']

In [ ]:
name.append('rehan')

In [ ]:
name

'haseeb'

In [ ]:
#adding two list
name_farig=['yahya','bilal']
new_list = name + name_farig
print(new_list)

['haseeb', 'rafey', 'haris', 'yahya', 'bilal']

In [ ]:
new_list.insert(3,'taha') #where to insert, name

In [ ]:
name

['haseeb', 'rafey', 'haris', 'taha', 'rehan']

In [ ]:
new_list

['haseeb', 'rafey', 'haris', 'taha', 'rehan', 'yahya', 'bilal']

In [ ]:
final_group= new_list+ name

In [ ]:
print(final_group)

In [ ]:
del final_group[4]

In [ ]:
final_group

['haseeb',
 'rafey',
 'haris',
 'taha',
 'yahya',
 'bilal',
 'haseeb',
 'rafey',
 'haris',
 'taha',
 'rehan']

In [ ]:
final_group.remove("bilal") #jab position pata na ho

In [ ]:
final_group

['haseeb',
 'rafey',
 'haris',
 'taha',
 'yahya',
 'haseeb',
 'rafey',
 'haris',
 'taha',
 'rehan']

In [ ]:
has=['cat','dog','monkey','bird']
has.remove('dog','monkey')

TypeError: ignored

In [ ]:
kas=['cat','dog','monkey','bird','cat'] #left se jo phalay mil jaye
kas.remove('cat')

In [ ]:
print(kas)

['dog', 'monkey', 'bird', 'cat']

In [ ]:
del kas[0]

In [ ]:
kas

['monkey', 'bird', 'cat']

In [ ]:
#del or pop mn farq ye hai ke ye output deta hai ke kia delete kia hai
kas.pop(1)

'bird'

In [ ]:
kas

['monkey', 'cat']

In [12]:
#del, pop, remove list se koi element remove krn ake lai
#tuple bhi list ki tarha hota bas tuple () mn hota hai aur kabhi chnge nhi hota
country=['pak','india','turkey','iraq']
city='pak'
for i in country:
  if i==city:
    print(i, "is lawaris")
  else:
    print(i, " is a good country")

pak is lawaris
india  is a good country
turkey  is a good country
iraq  is a good country

In [15]:
country=['pak','india','turkey','iraq']
city='turkey'
for i in country:
  if i==city:
    print(i, "is lawaris")
    break #break run hota hi aaga ka loop terminate /aaga ka code run nhi hota
  else:
    print(i, " is a good country")

# topic loops
# for i in range(5): syntax

pak  is a good country
india  is a good country
turkey is lawaris

In [ ]:
for o in range(0,11):
  print(o)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
num=5

for i in range(0,5):
  sum=num*i
  print(sum)

0
5
10
15
20

In [ ]:
for u in range(2,10,3):
  print(u) #range(first,last,step) with comma

2
5
8

In [ ]:
num=int(input("enter a number="))
print("table of 2 is :")
for i in range(0,10):
  sum=num*i
  print(sum)

enter a number=2
table of 2 is :
0
2
4
6
8
10
12
14
16
18

In [ ]:
print('2x1= 2')
print('2x2= 4')
print('2x3= 6')
print('2x4= 8')
print('2x5= 10')

2x1= 2
2x2= 4
2x3= 6
2x4= 8
2x5= 10

In [ ]:
num=int(input('enter any number= '))
for i in range(1,11):
  print(num,'x',i,'=',num*i)

enter any number= 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [ ]:
num=int(input('enter any number= '))
num2=int(input('from 1 to ='))
for i in range(1,num2):
  print(num,'x',i,'=',num*i)

enter any number= 5
from 1 to =6
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

In [ ]:
number= 123456789
int(str(number)[-1:-10:-1])

987654321

In [ ]:
number2=int(input("enter an integer= "))
lennum=len(str(number2))#length is for only str
ans=0# armstronge no. of 373 is 3**3+7**3+3**3
for i in range(lennum):
  ans=ans + int(str(number2)[i])**lennum
if number2==ans:
  print('integer is an armstrong number')
else:
  print('interger is not an armstronge number')

enter an integer= 45
interger is not an armstronge number

In [ ]:
t=4545
p=(4**4)+(5**4)+(4**4)+5**4

In [ ]:
print(t)
print(p)

4545
1762

In [ ]:
primenum=[2,3,5,7,9,11,13,15,17]
number=int(input('enter any number'))
number2=int(input('enter range'))
for i in range(2,number2,2):
  if number% number2==0:
    print('the number is a prime number')
  else:
  print("the number is not a prime number")

enter any number7
enter range7

TypeError: ignored

In [ ]:
#question8
num1=int(input("enter first number= "))
num2=int(input("enter second number= "))
sum_of_two_numbers= num1+num2
print("the sum of two numbers is ",sum_of_two_numbers )

enter first number= 35
enter second number= 15
the sum of two numbers is  50

In [ ]:
#ques10
numeric= 1,2
swap=str(numeric[1::-1])
print(swap)

(2, 1)

In [ ]:
#question11
num1=int(input("enter first number= "))
num2=int(input("enter second number= "))
avg_of_two_numbers= (num1+num2)/2
print("the sum of two numbers is ",avg_of_two_numbers )

enter first number= 30
enter second number= 40
the sum of two numbers is  35.0

In [ ]:
#q5
n=int(input('enter any number'))
length=int(str(n)[-1::-1])
if n==length:
   print("your number is a palindrome number")
else:
  print("your number is not a palindrome number")

enter any number4554
your number is a palindrome number

In [ ]:
#q12/13
m=int(input('enter any number'))
l=int(len(str(m)))
factorial=1
for i in range(1,l+1):
  factorial=factorial*(i)

print(factorial)

enter any number5
1

In [ ]:
dict1={
    "name":"haseeb",
    "course":"iot"
}

In [ ]:
print(dict1)

{'course:iot', 'name:haseeb'}

In [ ]:
#dict ke saaath hamsha key likhi jati
print(dict1["name"])

haseeb

In [ ]:
print(dict1["name"]) #dict se value find karna

haseeb

In [ ]:
dict1["floor"]="third" #adding a value in dictionary
print(dict1)

{'name': 'haseeb', 'course': 'iot', 'floor': 'third'}

In [ ]:
#q14
num10=int(input("enter number= "))
if num10%2==0:
  print("your number is even")
else:
  print("your number is odd")

enter number= 34
your number is even

In [ ]:
#ques17
num10=int(input("enter first number= "))
num11=int(input("enter second number= "))
num12=int(input("enter first number= "))
if num10<num11 and num10<num12:
  print(num10, "is the smallest of all")
elif num11<num10 and num11<num12:
  print(num11, "is the smallest of all")
elif num12<num10 and num12<num11:
  print(num12, "is the smallest of all")

enter first number= 46
enter second number= 98
enter first number= 42
42 is the smallest of all

In [ ]:
#ques6
num10=int(input("enter first number= "))
num11=int(input("enter second number= "))
num12=int(input("enter first number= "))
if num10>num11 and num10>num12:
  print(num10, "is the greatest of all")
elif num11>num10 and num11>num12:
  print(num11, "is the greatest of all")
elif num12>num10 and num12>num11:
  print(num12, "is the greatest of all")

enter first number= 548
enter second number= 342
enter first number= 243254
243254 is the greatest of all

In [ ]:
dict1.keys()

dict_keys(['name', 'course', 'floor'])

In [ ]:
dict1.values()

dict_values(['haseeb', 'iot', 'third'])

In [ ]:
dict1.items()

dict_items([('name', 'haseeb'), ('course', 'iot'), ('floor', 'third')])

In [ ]:
for key in dict1.keys(): #loops in dictionary
  print(key)

name
course
floor

In [ ]:
for value in dict1.values():
  print(value)

haseeb
iot
third

In [ ]:
for item in dict1.items():
  print(item)

('name', 'haseeb')
('course', 'iot')
('floor', 'third')

In [ ]:
def root(num):
  nmb=int(input("enter any number= "))
  root= nmb**(1/2)
  print(root)

enter any number= 49
7.0

In [ ]:
mn=int(input("enter table number= "))
fr=int(input("from 1 to = "))
for i in range(1,fr+1):
  print(mn, " x", i, "=" , mn*i)

enter table number= 2
from 1 to = 10
2  x 1 = 2
2  x 2 = 4
2  x 3 = 6
2  x 4 = 8
2  x 5 = 10
2  x 6 = 12
2  x 7 = 14
2  x 8 = 16
2  x 9 = 18
2  x 10 = 20

In [ ]:
# (def) funtion mn code save ho jaata baar baar recall krana mn asasni hoti
def multi(num1,num2,num3):
  result= num1*num2*num3
  print(result)

In [ ]:
multi(4,5,2)

40

In [ ]:
def comp(num1,num2,num3,num4,):
  result= num1*(num2**num3)/num4
  print(result)

In [ ]:
comp(2,4,2,6)

5.333333333333333

In [ ]:
#q12/13
m=int(input('enter any number'))
factorial=0
for i in range(1,3):
  factorial=factorial*(i-1)
  print(factorial)

enter any number5
0
0

In [ ]:
#q12/13
m=int(input('enter any number'))
l=int(len(str(m)))
factorial=1
for i in range(1,l):
  factorial=factorial*(l-1)
  print(factor)

enter any number5

In [ ]:
def root(num):

  root= num**(1/2)
  print(root)

In [ ]:
root(36)

enter any number= 6
2.449489742783178

In [ ]:
root(36)

7.0

In [ ]:
root(36)

6.0

In [ ]:

num10=int(input("enter first number= "))
num11=int(input("enter second number= "))
num12=int(input("enter first number= "))
if num10<num11 and num10<num12:
  print(num10, "is the smallest of all")
elif num11<num10 and num11<num12:
  print(num11, "is the smallest of all")
elif num12<num10 and num12<num11:
  print(num12, "is the smallest of all")

enter first number= 5874365
enter second number= 6
enter first number= 823
6 is the smallest of all

In [ ]:
string="pakistan"
string[0:3:1]

'pak'

In [ ]:
string.replace('i','') #delete any character from string

'pakstan'

In [ ]:
def smalno(num10,num11,num12):
  if num10<num11 and num10<num12:
    print(num10, "is the smallest of all")
  elif num11<num10 and num11<num12:
    print(num11, "is the smallest of all")
  elif num12<num10 and num12<num11:
    print(num12, "is the smallest of all")

In [ ]:
smalno(34,324,32)

32 is the smallest of all

In [ ]:
#q12/13
m=int(input('enter any number'))
l=int(len(str(m)))
factorial=1
for i in range(1,m+1):
  factorial=factorial*(i)
print(factorial)

enter any number4
24

In [ ]:
name = ['haris','haseeb','rehan','ABDUL RAFEY']
name[1:2]

['haseeb']

In [ ]:
print(name[0:1])
print(name[1:2])
print(name[2:3])
print(name[3:4])

['haris']
['haseeb']
['rehan']
['ABDUL RAFEY']

In [ ]:
#q12/13
m=int(input('enter any number'))
factorial=1
for i in range(1,m+1):
  factorial=factorial*(i)

print(factorial)

enter any number5
120

In [2]:

A=99
print("Haseeb got", A, "in mathematics")

Haseeb got 99 in mathematics

In [3]:
enter=int(input("Enter any number = "))
print("table of ", enter ,'is following')
for i in range(1,11):
  print( enter, "*", i,'=','', enter*i)

Enter any number = 4
table of  4 is following
4 * 1 =  4
4 * 2 =  8
4 * 3 =  12
4 * 4 =  16
4 * 5 =  20
4 * 6 =  24
4 * 7 =  28
4 * 8 =  32
4 * 9 =  36
4 * 10 =  40

In [7]:
enter=int(input("Enter any number (1-9) = "))

for i in range(1,8):
  if enter== 1:
    print(enter*i)
  elif enter== 2:
    print(enter+i)
  elif enter== 3:
    print(enter-i)
  elif enter== 4:
    print(enter/i)
  elif enter== 5:
    print(enter**i)
  elif enter== 6:
    print(enter//i)
  elif enter== 7:
    print(enter+i+i*enter)
  elif enter== 8:
    print(enter-i-i-i*enter)
  elif enter== 9:
    print(enter**i)

Enter any number (1-9) = 9
9
81
729
6561
59049
531441
4782969

In [34]:
enter=str(input("num= "))

q=(enter[-1::-1])
print(q)
now= q[-1::-1]
print(now)

num= 34656
65643
34656

In [32]:
print(enter[9::-1])

987654321